.background-size(@size){
	background-size: @size;
	-wekbit-background-size: @size;
	-moz-background-size: @size;
}

.border-radius(@radius){
    border-radius: @radius;
//    -moz-border-radius: @radius;
    /*-webkit-border-radius: 3px;*/
}

.box-shadow(@x, @y, @radius, @color){
    box-shadow: @x @y @radius @color;
    
}